<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/css/create_room.css' %}">
    {% include 'navbar/header.html' %}
</head>
<body>
    <!-- Form for creating a puzzle room -->
    <form class="createRoomForm"id="createRoomForm" enctype="multipart/form-data">
        <div>
            <label for="roomName">Room Name:</label>
            <input type="text" id="roomName" name="roomName" required>
        </div>

        <div>
            <label class="difficulty_label"for="difficulty">Select Difficulty:</label>
            <select id="difficulty" name="difficulty" required>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </div>

        <div class="drag-area" id="dragArea">
            <p>Drag & Drop to upload an image or <span id="browseLink">Browse</span></p>
            <input type="file" id="fileInput" accept="image/*" hidden>
        </div>

        <!-- Image preview area -->
        <img id="imagePreview" class="image-preview" src="" alt="Image Preview">

        <!-- Button to trigger room creation -->
        <button class="create-room-btn-inside"id="createRoomBtn">Create Room</button>
    </form>

    <!-- Link to your static JS file -->
    <script src="{% static 'user/js/CreateRoom.js' %}"></script>
</body>
</html>
